<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Étage
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Plan</a></li>
        <li class="active">Étage</li>
    </ol>
</section>

<div class="zone cadre" id="etage" ng-init="vm.googleConnect();vm.loadGroups('etage');vm.loadRooms();vm.loadUsers();">
    <div class="bureaux-fond cadre-droite">
        <div class="bureau-fond cadre-bas" id="bureau-assistant">
        </div>

        <div class="bureau-fond bureau-fond-rue cadre-droite" id="bureau-direction">
        </div>
    </div>
    <div class="etage-plateau">
        <div id="etage-sanitaires" class="inaccessible cadre-gauche cadre-droite cadre-haut">
        </div>

        <div id="etage-moquette"></div>
        <div id="vide-escalier" class="inaccessible cadre">
        </div>
        <div id="vide-principal" class="inaccessible cadre" ng-drop="true"
             ng-drop-success="vm.onDropToStack($data,$event)">
            <div ng-repeat="user in vm.users | orderBy:'fullname'" ng-drag="true" ng-drag-data="user" draggable="false"
                 class="personne empty selection" my-qtip="" style="color: green; display: inline-block;" skin="green"
                 data-hasqtip="1"  qtip-title="{{user.fullname}}" qtip-content="{{user.email}}">
            </div>
        </div>
    </div>

    <div class="bureaux-fond bureau-fond-parking cadre-gauche">
        <div class="bureau-fond cadre-bas" id="bureau-produit">
        </div>

        <div class="bureau-fond" id="bureau-rh">
        </div>

        <div class="bureau-fond inaccessible" id="salle-detente"></div>
    </div>

    <div ng-repeat="room in vm.rooms" ng-show="room.zone=='etage'" class="rooms-bureaux selection" id="{{room.idHtml}}">
        <div class="roomName">
            {{room.name}}
        </div>
        <div class="roomStatus">
            <span ng-class="room.free == 1 ? 'free' : 'busy'"></span>
        </div>
        <div ng-repeat="occupant in room.occupants" ng-if="occupant.resource != true" ng-drag="false"
             ng-drag-data="user" draggable="false"
             class="personne empty selection" my-qtip="" style="color: green; display: inline-block;" skin="green"
             data-hasqtip="1" qtip-title="{{occupant.displayName}}" qtip-content="{{occupant.email}}">
        </div>
    </div>

	<div ng-repeat="group in vm.groups" class="groupe-bureaux" id="{{group.name}}">
		<div ng-repeat="desktop in group.desktops" class="poste-travail" id="{{desktop.name}}">
			<div class="zone-chaise" ng-drop="true" ng-drop-success="vm.onDropToDesk($data,$event,desktop)">
				<div class="chaise"></div>
				<div ng-show="desktop.user" ng-drag="true" ng-drag-data="desktop.user" draggable="false" class="personne empty selection" my-qtip="" style="color: green; display: inline-block;" skin="green" data-hasqtip="1" qtip-title="{{desktop.user.fullname}}" qtip-content="{{desktop.user.email}}"  ng-drag-success="vm.onDragFromDesk($data,$event,desktop)">
			</div>
			</div>
			<div class="bureau selection">
            	<div ng-show="desktop.phone" class="telephone" my-qtip="" style="color: green; display: inline-block;" skin="green" data-hasqtip="1" qtip-title="{{desktop.phone.shortNumber}}" qtip-content="{{desktop.phone.number}}"></div>
            </div>
		</div>
	</div>
</div>