<div class="zone cadre" id="etage">
	<div class="bureaux-fond cadre-droite">
		<div class="bureau-fond cadre-bas selection" id="a10">
		</div>

		<div class="bureau-fond bureau-fond-rue selection" id="bureau-direction">
		</div>

		<div class="bureau-fond cadre-haut selection" id="bureau-assistant">
		</div>
	</div>
	<div class="etage-plateau">

		<div ng-repeat="group in vm.groups" class="zone-six-bureaux" id="{{group.name}}">
			<div ng-repeat="desktop in group.desktops" class="poste-travail" id="{{desktop.name}}">
				<div class="chaise selection"><div class="personne empty"></div></div>
				<div class="bureau selection"></div>
			</div>
		</div>




		<div id="etage-sanitaires" class="cadre-gauche cadre-droite cadre-haut">
		</div>

		<div id="vide-escalier" class="cadre">
		</div>
		<div id="vide-principal" class="cadre">
		</div>
	</div>

	<div class="bureaux-fond bureau-fond-parking cadre-gauche">

		<div class="bureau-fond cadre-bas selection" id="a8up">
		</div>

		<div class="bureau-fond selection" id="bureau-rh">
		</div>
		
		<div class="bureau-fond cadre-haut selection" id="bureau-produit">
		</div>
	</div>
</div>