<html>
	<head>
		<link rel="stylesheet" type="text/css" href="fabrique.css">
	</head>
	<body>
		<div class="zone cadre">
			<div id="rdc-zone1">
				<div id="bureau-commerce">
				</div>
			</div>
			<div id="rdc-zone2">
				<div id="a4"></div>
				<div id="bureau-marketing">
				</div>
			</div>
			<div id="rdc-zone3">
				<div id="zone-angle">
				</div>
				<div id="rdc-sanitaires" class="cadre-gauche cadre-droit cadre-haut">
				</div>
				<div id="rdc-couloir">
				</div>
				<div id="rdc-cafe">
				</div>
				<div id="a8">
				</div>
				<div id="imprimante">
				</div>
				<div id="zone-tag">
				</div>
			</div>
			<div id="patio" class="cadre"></div>
		</div>
	</body>
</html>