* {
	box-sizing: border-box;
}

.cadre {
	border: 1px solid #ccc;
}
.cadre-haut {
	border-top: 1px solid #ccc;
}
.cadre-bas {
	border-bottom: 1px solid #ccc;
}
.cadre-droite {
	border-right: 1px solid #ccc;
}
.cadre-gauche {
	border-left: 1px solid #ccc;
}

div.selection:hover {
	background-color: red;
}

/** commun **/
.zone {
	width: 1200px;
	height: 900px;
	position: relative;
}
.zone-commun {
	width: 1200px;
	height: 800px;
	position: relative;
}

.zone-six-bureaux {
	width: 160px;
	height: 255px;
	position: absolute;
}
.zone-trois-bureaux {		
	width: 80px;
	height: 255px;
	position: absolute;
}
.poste-travail {
	height: 85px;
	width: 80px;
	float: left;
}
.zone-six-bureaux .poste-travail:nth-child(odd) .bureau,
.zone-six-bureaux .poste-travail:nth-child(odd) .chaise {
	float: left;
}
.zone-six-bureaux .poste-travail:nth-child(even) .bureau,
.zone-six-bureaux .poste-travail:nth-child(even) .chaise {
	float: right;
}
.zone-trois-bureaux .bureau, 
.zone-trois-bureaux .chaise {
	float: left;
}
.bureau {
	border: 1px solid #ccc;
	width: 40px;
	height: 85px;
}
.chaise {
	width: 40px;
	height: 85px;
	position: relative;
}
.personne {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	margin: 5px;
	position: absolute;
	top: 25px;
}
.personne.away {
	background-color: #ccc;
}
.personne.there {
	background-color: blue;
	border: 1px solid blue;
}


/** commun **/
#grande-fabrique {
	height: 100%;
	width: 480px;
}
#stockage {
	height: 160px;
	width: 440px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#fabrication {
	height: 640px;
	width: 440px;
	position: absolute;
	top: 160px;
	right: 0px;
}


/** RDC **/
#rdc-zone1, #rdc-zone2, #rdc-zone3
{
	height: 300px;
	width: 100%;
	position: relative;
}
#bureau-commerce {
	width: 180px;
	height: 100%;
	position: absolute;
	right: 0px;
}
#a4 {
	width: 150px;
	height: 180px;
	position: absolute;
	top: 50px;
}
#bureau-marketing {
	height: 300px;
	width: 180px;
	position: absolute;
	right: 0px;
}
#rdc-sanitaires {
	width: 225px;
	height: 100%;
	position: relative;
	left: 218px;
}
#bureau-tag {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 475px;
	height: 100%;
}
#rdc-cafe {
	position: absolute;
	top: 0px;
	right: 575px;
	height: 200px;
	width: 75px;
}
#a8 {
	position: absolute;
	top: 0px;
	right: 475px;
	height: 200px;
	width: 100px;
}
#imprimante {
	position: absolute;
	bottom: 0px;
	right: 475px;
	height: 100px;
	width: 175px;
}

#patio {
	position: absolute;
	top: 300px;
	right: 180px;
	width: 800px;
	height: 300px;
}



/** etage **/
.bureaux-fond {
	width: 180px;
	height: 100%;
}
.bureau-fond-rue {


}
.bureau-fond-parking {
	position: absolute;
	top: 0;
	right: 0px;
}
.bureau-fond {
	width: 100%;
	height: 300px;
	top: 0px;
	right: 100px;
}
#bureau-direction {
	top: 300px;
	left: 0px;
}
#bureau-assistant {
	top: 600px;
	left: 0px;
}
#bureau-rh {
	top: 300px;
	left: 0px;
}
#bureau-produit {
	top: 600px;
	left: 0px;
}
.etage-plateau {
	width: 1000px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 180px;
}
#vide-escalier {
	position: absolute;
	width: 250px;
	height: 300px;
	top: 300px;
	left: 50px;
}
#vide-principal {
	position: absolute;
	width: 400px;
	height: 300px;
	top: 300px;
	left: 375px;
}

#ilot-etage-1 {
	left: 50px;
	bottom: 0px;
}

#ilot-etage-2 {
	right: 185px;
	bottom: 0px;
}

#ilot-etage-3 {
	top: 0px;
	left: 50px;
}

#ilot-etage-4 {
	top: 0px;
	left: 250px;
}

#ilot-etage-5 {
	top: 0px;
	left: 450px;
}

#ilot-etage-6 {
	top: 0px;
	left: 650px;
}

#ilot-etage-7 {
	bottom: 0px;
	left: 525px;
}

#etage-sanitaires {
	width: 275px;
	height: 255px;
	position: absolute;
	bottom: 0px;
	left: 250px;
}
