/** COLORS
parquet : #D8AD7D
moquette verte : #66AD00
moquette rouge : #CC0000
bordures : #eee
salles inaccessibles : #eee



**/


* {
	box-sizing: border-box;
}

.cadre {
	border: 1px solid #eee;
}
.cadre-haut {
	border-top: 1px solid #eee;
}
.cadre-bas {
	border-bottom: 1px solid #eee;
}
.cadre-droite {
	border-right: 1px solid #eee;
}
.cadre-gauche {
	border-left: 1px solid #eee;
}

.inaccessible {
	background: black url("../img/diagonals.gif") fixed;
}

div.selection:hover {
    background-color: #BC966D;
}

/** commun **/
.zone {
	width: 1200px;
	height: 900px;
	position: relative;
}
.zone-commun {
	width: 1200px;
	height: 800px;
	position: relative;
}

.groupe-bureaux {
	width: 160px;
	height: 255px;
	position: absolute;
}
.poste-travail {
	height: 85px;
	width: 80px;
	float: left;
}
.groupe-bureaux .poste-travail:nth-child(odd) .bureau,
.groupe-bureaux .poste-travail:nth-child(odd) .chaise {
	float: left;
}
.groupe-bureaux .poste-travail:nth-child(even) .bureau,
.groupe-bureaux .poste-travail:nth-child(even) .chaise {
	float: right;
}
.bureau {
	border: 1px solid #eee;
	width: 40px;
	height: 85px;
	background-color: white;
}
.chaise {
	width: 40px;
	height: 85px;
	position: relative;
	background-color: transarent;
}
.personne {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 1px solid #eee;
	margin: 5px;
	position: absolute;
	top: 25px;
}
.personne.away {
	background-color: #eee;
}
.personne.there {
	background-color: blue;
	border: 1px solid blue;
}


/** commun **/
#grande-fabrique {
	height: 100%;
	width: 480px;
}
#stockage {
	height: 160px;
	width: 440px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#fabrication {
	height: 640px;
	width: 440px;
	position: absolute;
	top: 160px;
	right: 0px;
}


/** RDC **/
#rdc-zone-bas
{
	top: 600px;
	height: 300px;
	width: 100%;
	position: relative;
}

#bureau-commerce {
	width: 180px;
	height: 300px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#a4 {
	width: 150px;
	height: 180px;
	position: absolute;
	top: 350px;
}
#bureau-marketing {
	top:300px;
	height: 300px;
	width: 180px;
	position: absolute;
	right: 0px;
}
#rdc-sanitaires {
	width: 165px;
	height: 100%;
	position: relative;
	left: 260px;
}
#bureau-tag {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 475px;
	height: 100%;
}
#rdc-cafe {
	position: absolute;
	top: 0px;
	right: 575px;
	height: 200px;
	width: 75px;
}
#a8 {
	position: absolute;
	top: 0px;
	right: 475px;
	height: 200px;
	width: 100px;
}
#imprimante {
	position: absolute;
	bottom: 0px;
	right: 475px;
	height: 100px;
	width: 175px;
}

#patio {
	position: absolute;
	top: 300px;
	right: 180px;
	width: 800px;
	height: 300px;
	background-color: #66AD00; 
	/*background: url("../img/grass.jpg") repeat;*/
}

#patio-cercle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 5px;
	position: absolute;
	top: 48px;
	right: 110px;
	background-color: #D8AD7D;
	/*background: url("../img/parquet.jpg") repeat;*/
	border: 1px solid #eee;
}

.rdc-plateau {
	background-color: #D8AD7D;
	/*background: url("../img/parquet.jpg") repeat;*/
}
#ilot-rdc-1 {
	left: 26px;
	bottom: 0px;
}

#ilot-rdc-2 {
	right: 262px;
	bottom: 0px;
}

#ilot-rdc-3 {
	bottom: 0px;
	right: 51px;
}

#ilot-rdc-4 {
	top: 46px;
	left: 0px;
}

#ilot-rdc-5 {
	top: 46px;
	left: 218px;
}

#ilot-rdc-6 {
	top: 46px;
	left: 390px;
}

#ilot-rdc-7 {
	top: 46px;
	left: 610px;
}

#ilot-rdc-8 {
	top: 46px;
	left: 783px;
}

#ilot-rdc-commerce {
	top: 46px;
	right: 50px;
	width: 80px;
	height: 255px;
}

#ilot-rdc-commerce .poste-travail .bureau,
#ilot-rdc-commerce .poste-travail .chaise {
	float: right; 
}



/** etage **/
.bureaux-fond {
	width: 180px;
	height: 100%;
	/*background: url("../img/parquet.jpg") repeat;*/
	background-color: #D8AD7D;
}
.bureau-fond-rue {
	/*background: url("../img/parquet.jpg") repeat;*/
	background-color: #D8AD7D;
}
.bureau-fond-parking {
	position: absolute;
	top: 0;
	right: 0px;
}
.bureau-fond {
	width: 100%;
	height: 300px;
	top: 0px;
	right: 100px;
}
#bureau-assistant {
	top: 0;
	left: 0px;
}
#bureau-direction {
	top: 300px;
	left: 0px;
}
#a10 {
	top: 600px;
	left: 0px;
}

#a2 {
	top: 0px;
	height: 100px; 
}
#bureau-produit {
	top: 100px;
	left: 0px;
	height: 200px;
}
#bureau-rh {
	top: 300px;
	left: 0px;
}
#a8up {
	top: 600px;
	height: 200px;
}
#salle-detente {
	top: 800px;
	height: 99px;
	background-color: #CC0000;
}
.etage-plateau {
	width: 1000px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 180px;
	background-color: #D8AD7D;
	/*background: url("../img/parquet.jpg") repeat;*/
}
#etage-moquette {
	background-color: #66AD00;
	/*background: url("../img/grass.jpg") repeat;*/
	width: 839px;
	height: 388px;
	position: absolute;
	top: 255px;
	left: 0px;
}
#vide-escalier {
	position: absolute;
	width: 250px;
	height: 300px;
	top: 300px;
	left: 50px;
}
#vide-principal {
	position: absolute;
	width: 400px;
	height: 300px;
	top: 300px;
	left: 375px;
}

#ilot-etage-1 {
	left: 230px;
	bottom: 0px;
}

#ilot-etage-2 {
	right: 215px;
	bottom: 0px;
}

#ilot-etage-3 {
	top: 0px;
	left: 230px;
}

#ilot-etage-4 {
	top: 0px;
	left: 430px;
}

#ilot-etage-5 {
	top: 0px;
	left: 630px;
}

#ilot-etage-6 {
	top: 0px;
	left: 830px;
}


#ilot-etage-7 {
	bottom: 0px;
	left: 705px;
	width: 80px;
	height: 255px;
}
#ilot-etage-7 .poste-travail .bureau,
#ilot-etage-7 .poste-travail .chaise {
	float: right; 
}

#etage-sanitaires {
	width: 275px;
	height: 255px;
	position: absolute;
	bottom: 0px;
	left: 250px;
}
